---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost/BlogPost.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>
    <section class="section container">
        <h1 class="blog__title">CHILAQUILES VERDES</h1>
        <p class="blog__description">This is where we believe in the good stuff: handmade tortillas. This is where you will find me. And yes, I'll be sharing. </p>
        <div class="posts__container container grid">
            {allPosts.map((post) => 
                <BlogPost 
                    pubDate = {post.frontmatter.pubDate}
                    url = {post.url}
                    title = {post.frontmatter.title}
                    heroImg = {post.frontmatter.heroImg}
                    description = {post.frontmatter.description}
                    tags = {post.frontmatter.tags}
                />
            )}
        </div>
    </section>
</BaseLayout>