---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost/BlogPost.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog";
const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf())
---
<BaseLayout pageTitle={pageTitle}>
    <section class="section container">
        <h1 class="blog__title">CHILAQUILES VERDES</h1>
        <p class="blog__description">This is where we believe in the good stuff; the way things should be: with handmade tortillas. This is where you will find me. And yes, I'll be sharing. </p>
        <div class="posts__container container grid">
            {sortedPosts.map((post) => 
                <BlogPost 
                    pubDate = {post.frontmatter.pubDate}
                    url = {post.url}
                    title = {post.frontmatter.title}
                    heroImg = {post.frontmatter.heroImg}
                    description = {post.frontmatter.description}
                    tags = {post.frontmatter.tags}
                />
            )}
        </div>
        <hr>
        <p class="blog__quejas">Para quejas, comentarios รณ sugerencias consulte a su terapeuta.</p>
    </section>
</BaseLayout>