---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <article class="section container" id="article">
        <h1 class="post__title">{frontmatter.title}</h1>
        <div class="post__info">
            <span>Posted on: {frontmatter.pubDate.slice(0,10)}</span>
            <span class="post__readTime" id="readTime"></span>
        </div>
        <p class="post__description">
            {frontmatter.description}
        </p>
        <img 
            class="post__img" 
            src={frontmatter.heroImg.url}
            alt={frontmatter.heroImg.alt}
        />
        <slot />
        <hr>
        <a class="morePosts" href="/blog"><i class="bx bx-right-arrow-alt morePosts__button-icon"></i> Here are more posts to read!</a>
        <p>If you want to chat, hit my LinkedIn button below.</p>
    </article>
</BaseLayout>

<script>
    import "../scripts/readTime.js";
</script>

<style>
    .post__title {
        font-size: var(--h1-font-size);
        color: var(--title-color);
        text-align: left;
        margin-bottom: var(--mb-1);
    }

    .post__info {
        display: flex;
        flex-direction: column;
        margin-bottom: var(--mb-2);
        color: var(--text-color);
    }

    .post__description {
        max-width: 968px;
        margin: 2rem auto;
        text-indent: 1rem;
    }

    .post__img {
        width: 100%;
        height: auto;
        margin-bottom: var(--mb-2);
    }

    .morePosts {
        font-weight: var(--font-semi-bold);
    }

    .morePosts__button-icon {
        font-size: 1rem;
        transition: 0.4s;
    }

    .morePosts:hover .morePosts__button-icon {
        transform: translateX(0.25rem);
    }
</style>