---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <article class="section container" id="article">
        <h1 class="post__title">{frontmatter.title}</h1>
        <div class="post__info">
            <span>Posted on: {frontmatter.pubDate.slice(0,10)}</span>
            <span class="post__readTime" id="readTime"></span>
        </div>
        <p class="post__description">
            {frontmatter.description}
        </p>
        <img 
            class="post__img" 
            src={frontmatter.heroImg.url}
            alt={frontmatter.heroImg.alt}
        />
        <slot />
    </article>
</BaseLayout>

<style>
    .post__title {
        font-size: var(--h1-font-size);
        color: var(--title-color);
        text-align: left;
        margin-bottom: var(--mb-1);
    }

    .post__info {
        display: flex;
        flex-direction: column;
        margin-bottom: var(--mb-2);
    }

    .post__description {
        max-width: 968px;
        margin: 2rem auto;
        text-indent: 1rem;
    }

    .post__img {
        width: 100%;
        height: auto;
        margin-bottom: var(--mb-2);
    }
</style>